*.pkl filter=lfs diff=lfs merge=lfs -text
*.pklcd filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
C:/Users/Admin/OneDrive/Desktop/scripts/final[[:space:]]webapp filter=lfs diff=lfs merge=lfs -text
.glb filter=lfs diff=lfs merge=lfs -text
