<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Lucid Analytics{% endblock %}</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet" />
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Global CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/skeleton.css') }}" />
    <!-- Inject the MinIO base URL -->
    <script>
      window.MINIO_BASE_URL = "{{ minio_base_url }}";
    </script>
    <!-- JavaScript Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js"></script>
    {% block extra_styles %}{% endblock %}
  </head>
  <body class="dark-mode">




    <!-- Container for particles.js effect -->
    <div id="particles-js"></div>

    <!-- Three.js Model Container (transparent) -->
    <div id="webgl-container" style="background-color: transparent;"></div>

    <!-- Main Content Area -->
    <div class="content">
      {% block content %}
      <!-- Model-specific templates will provide their content here -->
      {% endblock %}
    </div>

    <!-- Load the navbar script -->
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <!-- Load the bundled JavaScript (includes your Three.js scene and other logic) -->
    <script type="module" src="{{ url_for('static', filename='dist/assets/main.js') }}"></script>

    {% block extra_scripts %}{% endblock %}
  </body>
</html>
